{% extends 'base.html' %} {% block content %}
<h1>購買データの編集</h1>
<form method="post">
    {% csrf_token %} {{ data.as_p }}

    <div class="form-group">
        <label>{{ form.date.label }}</label>{{ form.date | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.place.label }}</label>{{ form.place | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.gender.label }}</label> {{ form.gender | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.age.label }}</label> {{ form.age | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.item.label }}</label><br> {% for item in form.item %}
        <input id="{{ item.id }}" class="input_chk" type="checkbox" name="items" value="{{ item.id }}">
        <label class="surround_label" for="{{ item.id }}">{{ item }}</label> {% endfor %}
    </div>
    <a href="{% url 'purchase_data:index' %}">トップへ戻る</a>
    <input type="submit" value="保存">
</form>
{% endblock %}