{% extends 'base.html' %} 
{% block content %} 
<h1>購入データの一覧</h1>
<div class="row">
    <div class="col-md-2">
        <h2> データ数:{{ num }}</h2></div>
    <div class="col-md-10">
        <!--<div class="flex">
            <div class="right">-->
        <table>
            <tr>
                <th>日付</th>
                <th>金額</th>
                <th>詳細</th>
                <th>カテゴリー</th>
                <th>場所</th>
                <th>性別</th>
                <th>年齢</th>
            </tr>
            {% for p in purchase_data_list %}
            {% for j in p.item.all %}
            <tr>
                <td>{{ p.date }}</td>
                <td>{{ j.price }}円</td>
                <td>{{ j.name }}</td>
                <td>{{ j.category }}</td>
                <td>{{ p.place }}</td>
                <td>{{ p.gender }}</td>
                <td>{{ p.age }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div></div>
<div class="row">    
    <div class="col-md-4">
        <h3>　日ごとの販売額</h3>
        <img src="data:image/png;base64,{{ bar | safe }}"></div> 
    <div class="col-md-4"> 
        <h3>　売上ランキング</h3>   
        <img src="data:image/png;base64,{{ rank | safe }}"></div>
    <div class="col-md-4">
        <h3>　カテゴリー別</h3>
        <img src="data:image/png;base64,{{ circle | safe }}"></div>
</div>
<div class="row">
    <h2>　客層</h2></div>
<div class="row">    
    <div class="col-md-4">
        <h3>　年齢別</h3>
    <img src="data:image/png;base64,{{ circle_age | safe }}"></div>
    <div class="col-md-4">
        <h3>　性別</h3>
        <img src="data:image/png;base64,{{ circle_gender | safe }}"></div>
</div>
<h3>取引金額</h3> 
{{ map2|safe }}
<h3>カテゴリー別</h3>
{{ map3|safe }}
<h3>人口</h3>
{{ map|safe }}
<a href="{% url 'purchase_data:index' %}">戻る</a> {% endblock %}