{% extends 'base.html' %} {% load widget_tweaks %} {% block extra_head %}
<h1 class="m-0">購入データの登録</h1>
{% endblock %} {% block content %}
<form method="post">
    {% csrf_token %} {{ data.as_p }}

    <div class="form-group">
        <label>{{ form.date.label }}</label><br>
        <input type="datetime-local" name="date" required>
    </div>
    <div class="form-group">
        <label>{{ form.place.label }}</label><br>
        <input type="text" name="place" required>
    </div>
    <div class="form-group">
        <label>{{ form.gender.label }}</label> {{ form.gender | add_class:'form-control col-2' }}
    </div>
    <div class="form-group">
        <label>{{ form.age.label }}</label> {{ form.age | add_class:'form-control col-2' }}
    </div>
    <div class="form-group">
        {% for item in items %}
        <input id="{{ item.id }}" class="input_chk" type="checkbox" name="items" value="{{ item.id }}">
        <label class="surround_label" for="{{ item.id }}">{{ item.name }}</label> {% endfor %}
    </div>
    <a href="{% url 'purchase_data:index' %}">トップへ戻る</a> <button type="submit">登録</button>
</form>
{% endblock %}