{% extends 'base.html' %} 
{% block content %} 
<h1>購入データの一覧</h1><h2> データ数:{{ num }}</h2>
<div class="flex">
    <div class="right">
        <table>
            <tr>
                <th>日付</th>
                <th>金額</th>
                <th>詳細</th>
                <th>カテゴリー</th>
                <th>場所</th>
                <th>性別</th>
                <th>年齢</th>
            </tr>
            {% for p in purchase_data_list %}
            {% for j in p.item.all %}
            <tr>
                <td>{{ p.date }}</td>
                <td>{{ j.price }}円</td>
                <td>{{ j.name }}</td>
                <td>{{ j.category }}</td>
                <td>{{ p.place }}</td>
                <td>{{ p.gender }}</td>
                <td>{{ p.age }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
    <div class="left">
        <p>日ごとの販売額</p>
        <img src="data:image/png;base64,{{ bar | safe }}"
        width=40%>
    </div>
</div> 
<div class="flex">
    <div class="right">    
    <img src="data:image/png;base64,{{ circle | safe }}"
    width=40%></div>
    <div class="left"> <img src="data:image/png;base64,{{ rank | safe }}"
    width=40%></div>
</div>
<div class="flex">
    <div class="right">
    <img src="data:image/png;base64,{{ circle_age | safe }}"
    width=40%></div>
    <div class="left"><img src="data:image/png;base64,{{ circle_gender | safe }}"
    width=40%></div>
</div>
<div class="flex">
    <div class="left">
<p>取引金額</p> 
{{ map2|safe }}
    </div>
    <div class="right">
<p>カテゴリー別</p>
{{ map3|safe }}
    </div>
</div>
<p>人口</p>
{{ map|safe }}
<a href="{% url 'purchase_data:index' %}">戻る</a> {% endblock %}