{% extends 'base.html' %} {% load widget_tweaks %} {% block extra_head %}
<h1 class="m-0">購入データの登録</h1>
{% endblock %} {% block content %}
<form method="post">
    {% csrf_token %} {{ data.as_p }}

    <div class="form-group">
        <label>{{ form.date.label }}</label>{{ form.date | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.place.label }}</label>{{ form.place | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.gender.label }}</label> {{ form.gender | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.age.label }}</label> {{ form.age | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.item.label }}</label>
        <br> {% for item in form.item %} {{ item }}{% endfor %}
    </div>
    <div class="form-group">
        <table class="table table-sm table-striped table-bordered ">
            <thead class="thead-dark">
                <tr>
                    <th>商品名</th>
                    <th>個数</th>
                </tr>
            </thead>
            <!--<tbody>
                {% for item in form.item %}
                <tr>
                    <td>{{ item }}</td>
                    <td class="number">{{ form.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>-->
        </table>
    </div>
    <a href="{% url 'purchase_data:index' %}">トップへ戻る</a>
    <button type="submit" name="submit">登録</button>
</form>
{% endblock %}