{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<h1>商品の登録</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>{{ form.name.label }}</label> {{ form.name | add_class:'form-control col-2' }}
    </div>
    <div class="form-group">
        <label>{{ form.price.label }}</label> {{ form.price | add_class:'form-control col-2' }}
    </div>
    <div class="form-group">
        <label>{{ form.category.label }}</label> {{ form.category | add_class:'form-control col-2' }}
    </div>
    <button type="submit" name="submit">登録</button>
</form>

{% endblock %}